html {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  height: 100%;
}

.noscrollbody {
  position: fixed;
  overscroll-behavior: contain;
}

.container {
  overflow: hidden;
  max-width: 576px;
  margin: 0 auto;
  padding: 0 0.3rem 0.3rem;
}

.overlay {
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: white;
  z-index: 989;
  overflow: auto;
}

input {
  font-size: inherit;
  font-family: inherit;
  appearance: none;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

input:focus {
  outline: none;
}

.box {
  margin-top: 0.3rem;
  height: 2rem;
  display: flex;
  flex: 1;
  align-items: center;
  /* box-sizing: content-box; REMOVED: screen flicker onTouch */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25); */
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); */
  border-radius: 0.5rem;
  border: 1px solid #b8c2cc;
  overflow: hidden;
}

.box > .name {
  flex: 1;
  padding-left: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box > .quantity {
  text-align: right;
  padding: 0.25rem;
}

.box > .uom {
  min-width: 1.5rem;
  font-weight: 700;
}

.box > .quantity > input {
  max-width: 3.5rem;
  background: transparent;
  text-align: right;
  padding: 0.25rem 0;
}

.flex {
  display: flex;
  flex: 1;
}

.search {
  margin-top: 0.3rem;
  height: 2rem;
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 0;
  border-top: 1px solid transparent; /* TODO */
  border-left: 1px solid transparent; /* TEMP */
  border-bottom: 1px solid #b8c2cc;
}

.searchinput {
  padding: 0.25rem 0;
  padding-left: 0.5rem; /* TEMP */
  background: transparent;
}

.search > .back {
  min-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search > .delete {
  box-sizing: border-box;
  width: 2.75rem;
  padding: 0.25rem 0 0.25rem 1rem;
  display: flex;
  justify-content: flex-start;
}

.results {
  border-left: 1px solid transparent;
  padding-left: 0.5rem; /* TEMP */
}

.result {
  display: flex;
  flex: 1;
  align-items: center;
  height: 2.5rem;
}

.result > .add {
  min-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result > .name {
  flex: 1;
  font-weight: 700;
}

.result > .uom {
  min-width: 1.5rem;
  font-weight: 700;
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
}
input[type='search']::-ms-reveal {
  display: none;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
