body {
  font-size: 0.875rem;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input {
  font-size: inherit;
  font-family: inherit;
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
}

button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  max-width: 400px;
  margin: 0px auto;
  position: relative;
}

.box {
  color: #22292f;
  background-color: none;
  border-radius: 0.5rem;
  border: 1px solid #b8c2cc;
  overflow: hidden;
  margin-top: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.menuopen {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
}

.item {
  display: flex;
  align-items: center;
  padding: 0.6rem;
}

.item > .quantity {
  text-align: right;
  min-width: 4rem;
}

.item > .quantity > input {
  width: 4rem;
  text-align: right;
  background: white;
}

.item > .uom {
  text-align: left;
  padding-left: 0.25rem;
  min-width: 1rem;
  font-weight: 700;
}

.name {
  flex-grow: 1;
}

.search {
  padding: 0.6rem;
}

.search > input {
  width: 100%;
  background: white;
  border: none;
  appearance: none;
}

.results {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  background: white;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: 1px solid #b8c2cc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.result {
  border-bottom: 1px solid #b8c2cc;
  display: flex;
  align-items: center;
  padding: 0.7rem 0.6rem;
}

.result:last-child {
  border: none;
}

.result > .uom {
  text-align: right;
  font-weight: 700;
}

.submit {
  padding: 0.6rem;
  width: 100%;
  color: white;
  background-color: green;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid #8795a1;
  margin-top: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
