body {
  font-size: 0.875rem;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: auto;
}

input {
  font-size: inherit;
  font-family: inherit;
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
}

button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  max-width: 400px;
  margin: 0px auto;
  position: relative;
}

.box {
  color: #22292f;
  background-color: none;
  border-radius: 0.5rem;
  border: 1px solid #b8c2cc;
  overflow: hidden;
  margin-top: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.menuopen {
  position: fixed;
  /* overflow-y: scroll; */
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: white;
  padding-top: 0.3rem;
  z-index: 10;
}

.item {
  display: flex;
  align-items: center;
  padding: 0.6rem;
}

.item > .quantity {
  text-align: right;
  min-width: 4rem;
}

.item > .quantity > input {
  width: 4rem;
  text-align: right;
  background: white;
}

.item > .uom {
  text-align: left;
  padding-left: 0.25rem;
  min-width: 1rem;
  font-weight: 700;
}

.name {
  flex-grow: 1;
}

.search {
  max-width: 400px;
  margin: 0px auto;
}

.searchinput {
  border: none;
  appearance: none;
  width: 100%;
  background: white;
  margin: 0.3rem 0;
  padding: 0.3rem;
  padding-left: 0.6rem;
}

.results {
  cursor: pointer;
  border-top: 1px solid #b8c2cc;
}

.result {
  /* border-bottom: 1px solid #b8c2cc; */
  display: flex;
  align-items: center;
  padding: 0.6rem;
  font-weight: 700;
}

.result:last-child {
  border: none;
}

.result > .uom {
  text-align: right;
}

.submit {
  padding: 0.6rem;
  width: 100%;
  color: white;
  background-color: green;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid #8795a1;
  margin-top: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
/* 

.item {
  display: flex;
  align-items: center;
  padding: 0.6rem;
}

.item > .quantity {
  text-align: right;
  min-width: 5rem;
}

.item > .quantity > input {
  text-align: right;
  width: 3rem;
  background: white;
  height: 1rem;
}

.item > .uom {
  text-align: right;
  min-width: 1rem;
  font-weight: 700;
}



.results {
  border-top: 1px solid #b8c2cc;
  cursor: pointer;
}

.result {
  padding: 0.6rem;
  display: flex;
}

.result > .uom {
  width: 1rem;
  text-align: left;
  font-weight: 700;
}

.submit {
  width: 100%;
  color: white;
  background-color: green;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid #8795a1;
  overflow: hidden;
  padding: 0.6rem;
  margin-top: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
} */
